@use 'sass:map';
@use '../utilities/colors' as *;
@use '../base/reset' as *;

.wrapper {
	margin: 0 auto;
	width: 85%;
	height: 100%;
	max-width: 1200px;
}
.transp-bgc {
	background-color: $transparent-color;
}
.section-padding {
	padding: 6em 2em;
}
.section-heading {
	font-size: clamp(2.4rem, 2vw + 1.6rem, 4.4rem);
	font-weight: 400;
	text-align: center;
	margin-bottom: 1em;
	text-transform: uppercase;
}
@media (min-width: 768px) {
	.section-padding {
		padding: 8em 0;
	}
}

.btn-style {
	margin: 1em 0;
	padding: 0.5em 1em;
	width: 90%;
	font-size: clamp(1.8rem, 1vw + 1rem, 2.2rem);
	background-color: $white-color;
	box-shadow: 0 2px 5px $mainGrey-color;
	border-radius: 8px;
	border: none;
	transition: background-color 0.5s, box-shadow 0.5s;
	cursor: pointer;
	&:hover {
		background-color: $green-color;
		box-shadow: 0 3px 10px $green-color;
	}
}
