@use 'sass:map';
@use '../utilities/colors' as *;
@use '../base/reset' as *;

.wrapper {
	margin: 0 auto;
	width: 85%;
	height: 100%;
	max-width: 1200px;
}
.transp-bgc {
	background-color: $transparent-color;
}
.section-padding {
	padding: 6em 2em;
}
.section-heading {
	font-size: clamp(2.4rem, 2vw + 1.6rem, 4.4rem);
	font-weight: 400;
	text-align: center;
	margin-bottom: 1em;
	text-transform: uppercase;
}
@media (min-width: 768px) {
	.section-padding {
		padding: 8em 0;
	}
}
