@use 'sass:map';
@use '../utilities/colors' as *;
@use '../base/reset' as *;

.aboutus {
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;

		&-img {
			width: 100%;
			
		}
		img {
			width: 100%;
			margin-bottom: 2em;
		}

		&-title {
			font-size: clamp(1.8rem, 2vw, 3.2rem);
			margin-bottom: 0.5em;
		}
		&-text {
			font-size: clamp(1.2rem, 2vw, 2rem);
			line-height: 2em;
			text-align: justify;
		}
	}
}
@media (min-width: 768px) {
}

@media (min-width: 992px) {
	.aboutus {
		&__box {
			flex-direction: row;
			align-items: self-start;
			&-img {
				width: 70%;
				margin-right: 2em;
			}
			img {
				width: 90%;	
			}
			&-info {
				width: 70%;
			}
			&-text {
				font-size: clamp(1.2rem, 1.3vw, 2.2rem);
			}
		}
	}
}
