@use 'sass:map';
@use '../utilities/colors' as *;
@use '../base/reset' as *;

.nav {
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 12em;
	z-index: 1;
	background-color: $white-color;
	&__title {
		font-size: clamp(3.2rem, 4vw, 4rem);
		text-decoration: none;
		color: $main-color;
	}

	&__links {
		&--desktop {
			display: none;
		}
		&--mobile {
			display: flex;
			position: absolute;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			background-image: $bcg-color;
			top: 12em;
			left: 0;
			height: calc(100vh - 12em);
			width: 100vw;
			transition: opacity 0.5s ease-in, visibility 0.5s ease-in;
			opacity: 0;
			visibility: hidden;
		}
		&--active {
			visibility: visible;
			opacity: 1;
		}
	}

	&__link {
		position: relative;
		font-size: clamp(1.6rem, 2vw, 2.4rem);
		text-decoration: none;
		color: $white-color;

		&::before {
			content: '';
			position: absolute;
			bottom: -10px;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: $white-color;
			transition: transform 0.3s;
			transform: scaleX(0);
			transform-origin: right;
		}
		&:hover::before {
			transform: scaleX(1);
			transform-origin: left;
		}
	}

	&__btn {
		background: none;
		border: none;
		padding: 0.5em;
		font-size: 3rem;
		z-index: 2;
		cursor: pointer;
		&--close {
			display: none;
		}
		&.active {
			display: flex;
		}
		&.unactive {
			display: none;
		}
	}
}

.header {
	position: relative;
	background-image: url('../img/jungle\ header-small.webp');
	background-position: center;
	background-size: cover;
	height: 40em;
	z-index: 0;
	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.55);
		z-index: -2;
	}
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		color: $white-color;
		p {
			font-size: clamp(2rem, 2vw, 2.8rem);
			font-weight: 300;
			margin-bottom: 0.2em;
		}
		h1 {
			font-weight: 600;
			font-size: clamp(2.6rem, 3vw, 4.4rem);
		}
	}
}
@media (min-width: 567px) {
}

@media (min-width: 768px) {
	.nav {
		&__links {
			&--mobile {
				display: none;
			}
			&--desktop {
				display: flex;
				justify-content: flex-end;
				width: 55%;
				height: 100%;
				padding: 0 1em;
			}
		}

		&__link {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $main-color;
			background-color: #fff;
			height: 100%;
			width: 100%;
			transition: background-color 0.5s, color 0.5s;
			&::before {
				display: none;
			}
			&:hover {
				background-color: $main-color;
				color: $white-color;
			}
		}
		&__btn {
			display: none;
		}
	}
	.header {
		background-image: url('../img/jungle\ header-big.webp');
	}
}
@media (min-width: 992px) {
}
