@use '../utilities/colors' as *;
.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 20em;
	width: 100%;
	background-image: url('../img/girl-small.webp');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 1;

	&-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(3, 17, 0, 0.45);
		z-index: -1;
	}
	&__text {
		position: relative;
		text-align: center;
		padding: 1em 2em;
		margin: 2em;
		font-size: clamp(2rem, 3vw, 3.6rem);
		font-weight: 500;
		color: $white-color;
		border: 1px solid $white-color;
		overflow: hidden;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: -110%;
			width: 100%;
			height: 100%;

			background: linear-gradient(153deg, rgba(155, 89, 42, 0.2) 0%, rgba(87, 199, 133, 0.3) 45%);
			transform: skew(-45deg);
		}
	}

	&.hero:hover .hero__text::after {
		animation: slide 2s;
	}
	@keyframes slide {
		from {
			left: -110%;
		}
		to {
			left: 110%;
		}
	}
}

@media (min-width: 567px) {
	.hero {
		&__text {
			padding: 1em 3em;
		}
	}
}

@media (min-width: 768px) {
	.hero {
		background-image: url('../img/girl-big.webp');
	}
}
@media (min-width: 992px) {
	.hero {
		&__text {
			padding: 1em 4em;
		}
	}
}
